/* 
    Document   : global.css
    Created on : Jul 10, 2010, 10:31:15 PM
    Author     : joseph
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

