/* 
    Document   : global.css
    Created on : Jul 10, 2010, 10:31:15 PM
    Author     : joseph
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background: #F5F5F5;
    color: #777;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

h1 {
    color: #333;
}

#uiContrainer {
    border: 1px solid #ccc;
}